@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-primary-color: #161616;
    --foreground-secondary-color: #a2a2a2;
    --background-primary-color: #ffffff;
    --background-secondary-color: #f6f8fa;
    --shadow-color: #dedede;
    --border-color: #eaeaea;

    --primary-color: #ff9999;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-primary-color: #f1f1f1;
        --foreground-secondary-color: #aaaaaa;
        --background-primary-color: #0f0f0f;
        --background-secondary-color: #272727;
        --shadow-color: #232323;
        --border-color: #333534;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    font-family: "Raleway", sans-serif;
    color: var(--foreground-primary-color);
    background-color: var(--background-primary-color);
    overflow-y: overlay;
}




/* SCROLLBAR */

@media (min-width: 768px) {
    html *::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }
    html *::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }
    html *::-webkit-scrollbar-thumb {
        background-color: var(--foreground-secondary-color);
    }
    html *::-webkit-scrollbar-track {
        background-color: var(--background-secondary-color);
    }
}

/* SLICK CAROUSEL */
 

.banner .slick-dots {
    text-align: center;
    list-style: none;
    bottom: 16px;
}

.banner .slick-dots li {
    display: inline-block;
    margin-inline: 10px;
    background: transparent;
}

.banner .slick-dots li button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.banner .slick-dots li button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    transform-origin: center;
    transform: rotate(45deg) translateX(-50%) translateY(-50%);
    border: 1px solid var(--foreground-primary-color);
    opacity: 1;
}

.banner .slick-dots li.slick-active button::before {
    background-color: var(--foreground-primary-color);
}

@media (min-width: 768px) {
    .banner .slick-dots {
        bottom: 40px;
    }
}
